*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  display: flex;
  position: fixed;
  justify-content: center;
  margin-top: 0;
  align-items: center;
  background-color: aqua;
  width: 100%;
}

/* h2 {
  display: flex;
  position: fixed;
  justify-content: center;
  margin-top: 0;
  align-items: center;
  background-color: aqua;
  width: 100%;
} */

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: grey;
  color: white;
  padding: 10px 25px;
}

.about {
  display: flex;
  /* position: fixed; */
  justify-content: center;
  background-color: grey;
  width: 100%;
  height: 100px;
  padding: 30px 30px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  width: 100%;
  height: 200px ;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  padding: 30px 30px;
}

.addmodel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ivory;
  width: 100%;
  height: 170px;
  padding: 30px 30px;
}

.monitorask {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ivory;
  width: 100%;
  height: 70px;
  padding: 30px 30px;
}
